.ui-dialog .ui-widget-header
{
	background: black;
	color: white;
}

.ui-resizable-helper{
	background: black;
}

.black-box{
	background-color: black;
}

.white-box{
	background-color: white;
}

#listaTarefas .ui-selecting { background: #FECA40; }
#listaTarefas .ui-selected { background: #F39814; color: white; }

.item{
	background-color: #7777;
	border: 1px dashed #333;
	width: 100px;
	height: 100px;
	float: left;
	margin: 5px;
}

.tarefas{
	background-color: #7777;
	border: 1px dashed #333;
	width: 100%;
	height: 200px;
}

.lixeira{
	width: 100%;
	height: 60px;
	display: block;
}

.lixeiraMarcada{
	background-color: black;
	
}
